/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
  }
 */  

 .illustration {
    display: block;
    width: 50%;
    margin: 200px auto;
  }
  #huella-01 {
    animation: fadeInOut 4s ease-in-out;
    animation-iteration-count: infinite;
  }
  #huella-02 {
      animation: fadeInOut 3.8s ease-in-out;
      animation-iteration-count: infinite;
  }
  #huella-03 {
      animation: fadeInOut 3.6s ease-in-out;
      animation-iteration-count: infinite;
  }
  #huella-04 {
      animation: fadeInOut 3.4s ease-in-out;
      animation-iteration-count: infinite;
  }
  #huella-05 {
      animation: fadeInOut 3.2s ease-in-out;
      animation-iteration-count: infinite;
    }
    #huella-06 {
      animation: fadeInOut 3s ease-in-out;
      animation-iteration-count: infinite;
    }
    #huella-07 {
      animation: fadeInOut 2.8s ease-in-out;
      animation-iteration-count: infinite;
    } 
    #huella-08 {
      animation: fadeInOut 2.6s ease-in-out;
      animation-iteration-count: infinite;
    }
    #huella-09 {
      animation: fadeInOut 2.4s ease-in-out;
      animation-iteration-count: infinite;
    }
    #huella-10 {
      animation: fadeInOut 2.2s ease-in-out;
      animation-iteration-count: infinite;
    }
    #huella-11 {
      animation: fadeInOut 2s ease-in-out;
      animation-iteration-count: infinite;
    }
    #huella-12 {
      animation: fadeInOut 1.8s ease-in-out;
      animation-iteration-count: infinite;
    }
  @keyframes fadeInOut {
    0%,100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  